/* DEFINIENDO VARIABLES */
:root{
    --yellow: #e7c500;
    --orange: #e66915;
    --cream: #F2F7F2;
}
/* TODO */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth
}

body{
    width: 100%;
}
/* Importando la fuente */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* HEADER */
header{
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 0 85px 0 50px;
}

header img{
    width: 7rem;
}

header ul {
    display: flex;
    gap: 2rem;
    align-items: center;
}
a{
    color: black;
}
main{
    background-color: var(--cream);
}
/* CLASES */

/* PAGINA PRINCIPAL */
/* HERO */
.section{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 70px 200px;
}

.description-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.description-container h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
}

.description-container p {
    font-size: 20px;
    font-weight: 300;
}

.hero-img {
    background-image: url(./img/mudanza.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 250px;
    width: 30%;
    height: 350px;
    border-radius: 5px;
}
/* SECCION ABOUT US */
.about-us{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 70px 150px;
    flex-direction: row-reverse;
}

.about-us .description-container{
    width: 300px;
}

.about-us-img {
    background-image: url(./img/mudanza2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 250px;
    width: 30%;
    height: 335px;
    border-radius: 5px;
}
/* SECCION CARDS */
.services{
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 70px 260px;
    flex-direction: column;
}
.services .description-container{
    margin-bottom: 3rem;
}
.card-container{
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
}
.card {
    width: 190px;
    height: 254px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff;
   }
/* LOGIN */

.login{
    border-radius: 10px;
    margin: 5rem 32%; 
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login h2{
    margin-top: 1rem;
}

.form_login{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.button_login{
    margin-top: 1rem;
    background-color: var(--orange);
    border-style: none;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    font-weight: bold;
    color: #020A1E;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}
.forget_pass{
    margin-top: 1rem;
}
.divider_login{
    width: 90%;
    margin: 2rem;
    height: 3px;
    background-color: var(--yellow);
}
.notlogin{
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    background-color: var(--yellow);
    padding: 1rem 4rem;
    border-radius: 5px;
    font-weight: bold;
    color: #020A1E;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}
.form_login label{
    width: 90%;
}
.form_login input{
    width: 100%;
    height: 1.5rem;
}

.inicio{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 1.5rem;
}

.inicio i{
    font-size: 0.8cm;
}

/* OLVIDASTE TU CONTRASEÑA */
.passreset h2{
    margin: 1rem;
}

.passreset h3{
    margin-top: 1rem;
}

.passreset label{
    width: 90%;
    margin-top: 3rem;
}

.passreset input{
    width: 100%;
    height: 1.5rem;
}

.passreset .button_login{
    margin-bottom: 2rem;
}

.emailbutton{
    background-color: var(--yellow);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 1rem 0rem 1rem 0rem;
    border-radius: 5px;
    display: block;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}

#sendemail{
    display: none;
}

.emailbutton:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
   }

.email_sent{
    display: none;
}

#sendemail:checked + .email_sent{
    display: flex;
}

/* CREAR CUENTA NUEVA */
.newacc{
    gap: 2rem;
}
.newacc_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.newacc_form{
    width: 100%;
}


.newacc_form label{
    width: 90%;
    margin-top: 3rem;
}

.newacc_form input{
    width: 100%;
    height: 1.5rem;
}

.summit_signin{
    margin-bottom: 2rem;
}

.summit_signin input{
    background-color: var(--yellow);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1rem;
    display: block;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}