/* DEFINIENDO VARIABLES */
:root{
    --yellow: #e7c500;
    --orange: #e66915;
    --cream: #F2F7F2;
    --red: #c1121f;
    --footer_color: #493838;
}
/* TODO */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth
}

body{
    width: 100%;
}
/* Importando la fuente */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* HEADER */
header{
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 0 85px 0 50px;
}

header img{
    width: 7rem;
}

header ul {
    display: flex;
    gap: 2rem;
    align-items: center;
}
a{
    color: black;
}
main{
    background-color: var(--cream);
}

footer{
    background-color: var(--cream);
    width: 100%;
    padding-top: 1rem;
}

/* CLASES */

/* PAGINA PRINCIPAL */
/* HERO */
#toggle-menu{
    display: none;
}
.navbar label{
    display: none;
}
.section{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 70px 200px;
}

.description-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.description-container h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
}

.description-container p {
    font-size: 20px;
    font-weight: 300;
}

.hero-img {
    background-image: url(./img/mudanza.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 377px;
    height: 350px;
    border-radius: 5px;
}
/* SECCION ABOUT US */
.about-us{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 70px 150px;
    flex-direction: row-reverse;
}

.about-us .description-container{
    width: 300px;
}

.about-us-img {
    background-image: url(./img/mudanza2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 491px;
    height: 335px;
    border-radius: 5px;
}
/* SECCION CARDS */
.services{
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 70px 260px;
    flex-direction: column;
}
.services .description-container{
    margin-bottom: 3rem;
}
.card-container{
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
}
.card {
    width: 190px;
    height: 254px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
   }

.card p{
    text-align: center;
    font-size: 18px;
    margin: 0 0.5rem 0 0.5rem;
}
.cardfoto{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 50%;
    border-radius: 10px;
}
.card1{
    background-image:url(./img/moton.jpg);
}
.card2{
    background-image:url(./img/amarokrojo2.webp);
}
.card3{
    background-image:url(./img/camionrojo.jpg);
}

/* SECCION FOTOS */

.sect_imgs{
    margin: 0 auto;
    padding: 70px 200px;
    place-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    height: 100vh;
}

.grid_imgs:first-child{
    background: url(./img/imgs1.png) no-repeat center/cover;
    grid-area: 1/1/2/3;
}
.grid_imgs:nth-child(2){
    background: url(./img/imgs2.jpg) no-repeat center/cover;
    grid-area: 1/3/2/4;
}
.grid_imgs:nth-child(3){
    background: url(./img/imgs3.jpg) no-repeat center/cover;
    grid-area: 1/4/5/5;
}
.grid_imgs:nth-child(4){
    background: url(./img/imgs4.png) no-repeat center/cover;
    grid-area: 2/1/4/2;
}
.grid_imgs:nth-child(5){
    background: url(./img/imgs5.jpg) no-repeat center/cover;
    grid-area: 2/2/3/4;
}
.grid_imgs:nth-child(6){
    background: url(./img/imgs6.jpg) no-repeat center/cover;
    grid-area: 3/2/4/4;
}
.grid_imgs:nth-child(7){
    background: url(./img/imgs7.jpg) no-repeat center/cover;
    grid-area: 4/1/5/4;
}


/* SECCION CONTACTANOS */
.contact-us{
    margin: 0 auto;
    padding: 70px 260px;
}

.contact-us h2{
    padding-bottom: 2rem;
}

.contact-us-sections{
    display: flex;
    justify-content: space-around;
}

.contact1{
    display: flex;
    gap: 10px;
}

.contact1 ul li{
    padding-bottom: 1rem;
}

.contact1 ul li i{
    font-size: 50px;
    color: var(--orange);
}

.contact1-info :nth-child(2){
    margin-top: 7.5px;
}

.url_map{
    display: none;
}
.contact2{
    display: flex;
    flex-direction: column;
}

.contact2 form{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;
    gap: 10px;
}

.contact2 h3{
    padding-bottom: 2rem;
}

.input-contact{
    width: 100%;
    height: 30px;
    background-color: var(--cream);
    border-bottom: 1px solid var(--yellow);
    border-top: unset;
    border-left: unset;
    border-right: unset;
}

.contact2 form textarea{
    resize: none;
    background-color: var(--cream);
    height: 150px;
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    border: 1px var(--yellow);
    border-style: solid;
}

/* SECCION FOOTER */

.footer_all{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.divider_footer{
    width: 60%;
    margin: auto;
    height: 3px;
    background-color: var(--red);
}

.info_footer{
    display: flex;
    font-size: 15px;
    flex-direction: column;
    align-items: flex-start;
    color: var(--footer_color);
    width: fit-content;
}
.footer_icons{
    display: flex;
    gap: 0.9rem;
    font-size: 25px;
    color: var(--footer_color);
    width: fit-content;
}
.footer_icons :first-child>:hover{
    transition: 1s;
    color: #3b5998;
}
.footer_icons :nth-child(2)>:hover{
    transition: 1s;
    color: 	#E1306C;
}
.footer_icons :last-child>:hover{
    transition: 1s;
    color: 	#00acee;
}
/*------------------- LOGIN ----------------------*/

.login{
    border-radius: 10px;
    margin: 5rem 32%; 
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login h2{
    margin-top: 1rem;
}

.form_login{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}


.button_login{
    margin-top: 1rem;
    background-color: var(--orange);
    border-style: none;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    font-weight: bold;
    color: #020A1E;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}
.forget_pass{
    margin-top: 1rem;
}
.divider_login{
    width: 90%;
    margin: 2rem;
    height: 3px;
    background-color: var(--yellow);
}
.notlogin{
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    background-color: var(--yellow);
    padding: 1rem 4rem;
    border-radius: 5px;
    font-weight: bold;
    color: #020A1E;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}
.form_login label{
    width: 90%;
}
.form_login input{
    width: 100%;
    height: 1.5rem;
}

.login_input{
    background-color: var(--cream);
    border-bottom: 1px solid var(--yellow);
    border-top: unset;
    border-left: unset;
    border-right: unset;
}

.inicio{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 1.5rem;
}

.inicio i{
    font-size: 0.8cm;
}

.signin_footer_div{
    margin-top: 19rem;
}

.newacc_divider{
    margin-top: 5.4rem;
}

/*----------------------- OLVIDASTE TU CONTRASEÑA ----------------------------------*/
.passreset{
    transform: translateY(-61%);
}

.passreset h2{
    margin: 1rem;
    text-decoration: underline var(--orange);
}

.passreset h3{
    margin-top: 1rem;
    text-align: center;
}

.passreset label{
    width: 90%;
    margin-top: 3rem;
}

.passreset input{
    width: 100%;
    height: 1.5rem;
}

.passreset .button_login{
    margin-bottom: 2rem;
}

.emailbutton{
    background-color: var(--yellow);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 1rem 0rem 1rem 0rem;
    border-radius: 5px;
    display: block;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}

.emailbutton:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

#sendemail{
    display: none;
}

#sendemail:checked + .email_sent{
    transform: translateY(60%) ;
    transition: all 2s ease-out;
}

/* CREAR CUENTA NUEVA */
.newacc{
    gap: 2rem;
}
.newacc_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.newacc_form{
    width: 100%;
}

.newacc_form label{
    width: 90%;
    margin-top: 3rem;
}

.newacc_form input{
    width: 100%;
    height: 1.5rem;
}

.summit_signin{
    margin-bottom: 2rem;
}

.summit_signin input{
    background-color: var(--yellow);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1.2rem;
    display: block;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}

/* --------------------RESPONSIVE-------------------- */

@media (max-width: 1628px){
    .contact2{
        width: 250px;
    }
}

@media (max-width: 1360px){
    .services{
        padding: 70px 0px;
    }
    .services .description-container{
        width: 100%;
        text-align: center;
        color: var(--red);
    }
    .contact-us h2{
        text-align: center;
        color: var(--red);
    }
}

@media (max-width: 1304px){
    .contact-us{
        margin: auto;
        padding: 70px 5%;
    }
    .contact-us-sections{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
        gap: 2rem;
    }
    .contact2{
        width: 80%;
    }
    .contact1{
        width: 80%;
        gap: 30px;
    }
}

@media (max-width: 1260px){
    .section{
        padding: 70px 0px;
        justify-content: space-around;
    }
    .about-us{
        padding: 70px 0px;
        justify-content: space-around;
    }
}

@media (max-width: 1187px){
    .footer_all, .divider_footer{
        width: 80%;
    }
    .login{
        margin: 5rem 15%;
    }
    .sect_imgs{
        padding: 70px 90px;
    }
}

@media (max-width: 973px){
    .section{
        padding: 70px 30px;
    }
}

@media (max-width: 884px){
    .section, .about-us{
        flex-direction: column;
        gap: 3rem;
    }
    .description-container{
        align-items: center;
    }
}

@media (max-width: 703px){
    header{
        justify-content: space-between;
        padding: 0px;
    }
    .card-container{
        flex-direction: column;
        align-items: center;
    }
    .contact-us{
        padding-top: 20px 5% 70px 5%;
    }
    .navbar label{
        display:block;
        margin-right: 2rem;
    }
    .navbar ul{
        background-color: var(--cream);
        width: 100%;
        height: calc(100vh - 111px);
        position: absolute;
        top: 111px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transform: translateY(200%);
        transition: all 0.4s ease-out;
    }

    #toggle-menu:checked + .container-items{
        transform: translateY(0%);
        transition: all 0.4s ease-out;
    }
    .section p{
        text-align: center;
    }
    .sect_imgs{
        padding: 70px 5%;
    }
}

@media (max-width: 519px){
    .about-us-img{
        height: 295px;
        width: 422px;
    }
    .login {
        margin: 5rem 5%;
    }
    .mini_header{
        justify-content: space-between;
        padding: 0%;
    }
    .inicio{
        gap: 1rem;
        margin-right: 0.5rem;
    }
}

@media (max-width: 487px){
    .map{
        display: none;
    }
    .url_map{
        display: block;
    }
}

@media (max-width: 455px){
    .about-us-img{
        display: none;
    }
    .hero-img{
        width: 100%;
    }
}

@media (max-width: 372px){
    h1{
        text-align: center;
    }
    .contact-us{
        padding: 70px 3%;
    }
}